<!DOCTYPE html>
<!-- created by Ivan Lo-->
<html>
	<head>
		<title>Contact Us</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
		rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<script src="/views/navBar.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="/views/mystyle.css" media="screen"/>
	</head>

	<body id="body1">
<section></section>
		<center><h1>Travel Experts</h1></center>
				

<!-- Modal for Contact Form (experiment)
	<div class="modal fade" id="modalContactForm">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header text-center">
		  <h4 class="modal-title">Send Us a Message!</h4>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  </button>
		</div>

		<div class="modal-body mx-3">
		  <div class="modename">
			<input type="text" id="modalname" class="form-control">
			<label data-error="wrong" data-success="right" for="modalname">Your name</label>
		  </div>
  
		  <div class="modemail">
			<input type="email" id="modalemail" class="form-control">
			<label data-error="wrong" data-success="right" for="modalemail">Your email</label>
		  </div>
  
		  <div class="md-form">
			<textarea type="text" id="modalmess" class="form-control" rows="4"></textarea>
			<label data-error="wrong" data-success="right" for="modalmess">Your message</label>
		  </div>
  
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" onclick="return confirm('Continue the Submission?');">Send</button>
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>
-->



  <!-- Button modal -->
  <div class="text-center">
	  <h3>Send Us a Message!</h3>
	<button type="button" class="btn btn-primary" onclick="location.href='mailto:name@gTravelExperts.com'" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">Send Here!</button></br >
  
	<h3>Contact List</h3><br />

<!-- Button modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal">
		List
	  </button>
	</div>


	  <!-- Modal for Contact List -->
	<div class="modal fade" id="contactModal">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
	<div class="modal-header">
		<h1 class="modal-title" id="contactModalLabel">Contact List</h1>
		<button type="button" class="close" data-dismiss="modal"></button>
	</div>


	<!--Ejs by Tom, Modal format by Ivan-->
	<div class="row">
			<% data1.forEach(function(agencies) { %>
			<div class="col-xs-9"><legend><h2><p>Agency <%= agencies.AgencyId %></p></h2></legend></div>
			<div class="col-xs-4"><legend><p>Address and phone</p></legend><br></div>
			<div class="col-xs-6"><p>Address: <%= agencies.AgncyAddress %> <%= agencies.AgncyCity %> <%= agencies.AgncyProv %> <%= agencies.AgncyPostal %></p>
				<p>Phone: <%= agencies.AgncyPhone %></p></div>
		  </div><br>
			<div class="modal-body">
					
						</details>
						<legend><h2><p>Agents</p></h2></legend>	
						<% data2.forEach(function(agents) { %>
							<% if (agents.AgencyId == agencies.AgencyId) { %>
								<legend><p><%= agents.AgtFirstName %> <%= agents.AgtLastName %> (<%= agents.AgtPosition %>)</p></legend>
								<div class="row">
										<div class="col-sm-9">
												<p>Phone: <%= agents.AgtBusPhone %></p>
												<p>Email: <%= agents.AgtEmail %></p>
										</div>
								</div>	
							<% }%>
						<% }); %>
					<% }); %>
					
			</div>


			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	  </div>


<!-- google maps location -->


<center><div>
	<h1>Agency 1 Location --- Agency 2 Location</h1>
</div></center>


<center><section>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.369258766609!2d-114.0881913605961!3d51.04626923152061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53716fe76e972489%3A0x149461cedf5b7c5b!2s1155%208%20Ave%20SW%2C%20Calgary%2C%20AB!5e0!3m2!1sen!2sca!4v1575487398265!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.369258766609!2d-114.0881913605961!3d51.04626923152061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53716fe76e972489%3A0x149461cedf5b7c5b!2s1155%208%20Ave%20SW%2C%20Calgary%2C%20AB!5e0!3m2!1sen!2sca!4v1575487398265!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</section></center>

	
	
	<div id="footer">
			<footer>
		<p>Copyright &copy; 2019 Travel Experts</p>
	</footer>

	</div>
	

		


	<!-- created by Ivan Lo-->	
	</body>
</html>